<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="deep.ryd.rydplayer">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name=".PlaylistUniversal"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>

        <service
            android:name=".PlayerService"
            android:stopWithTask="false" />

        <receiver android:name=".PlayerService$ButtonReceiver" />

        <provider
            android:name=".mySuggestionProvider"
            android:authorities="deep.ryd.rydplayer.SearchSuggestionProvider" />
    </application>

</manifest>